NODE_ENV=development
WEB_PORT=3000
API_PORT=3001
POSTGRES_HOST_PORT=5433
POSTGRES_DB=moura_solar
POSTGRES_USER=moura
POSTGRES_PASSWORD=change-me-local
DATABASE_URL=postgresql://moura:change-me-local@localhost:5433/moura_solar?schema=public
S3_ENDPOINT=http://localhost:9000
S3_PUBLIC_PORT=9000
S3_CONSOLE_PORT=9001
S3_ACCESS_KEY=moura-local
S3_SECRET_KEY=change-me-minio
S3_BUCKET=moura-solar-local
API_INTERNAL_URL=http://localhost:3001/api/v1
NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1
